/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$color-primary: #F45A3D;

$color-border-inactive: #b1ada6;
$color-border-active: #d3cfc8;

$border-size: 3px;
