/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * This file is part of Headbanger
 *
 * */

$color-primary: #F45A3D;

$color-border-inactive: #8c8881;
$color-border-active: #b4b0a9;
